API_ID=31110304
API_HASH=8945c9b99de5dcc82fa8520c077f5303
SESSION_STRING=1BVtsOKwBu8azz2iWY7oEzf5vS4W0R_4INjjqqsUR09BpjFeLdYgULGDvwi_rbtEC0jJBpXBQftVw7auxCBO_JedxwpiqNyYpfLn1V1ZFj1opFx8sH_b5sg19csaj0S8rA9dfB_4qc9xdoYbvtunXoRcCQDuzEROIxOqwMDGiuI_-gPr0tLHnbDe09VbSB-d8KvO6iZP3MzgJhnZ10UVvWaQ4G_sq44FFhMNNlwtD5z9Z40tUf_2Ilie8aNguCjs-WL2wnurQbVECituh4_Nt_WK9PgMLeZ_Id1af4DWhKb3PItxbkq-0VX0cAgg8DoWy-PMet0Gcdufi8QZg91AYO0FHj1ciraw=
BOT_TOKEN=8635136568:AAFnWiCrIaYAWYlq3CGbiFpFbbNmFbztriw
OWNER_ID=6390210782
DOWNLOAD_DIR=/tmp/downloads
MAX_CONCURRENT_DOWNLOADS=3
MAX_RETRIES=5
LOG_LEVEL=INFO
DB_PATH=data/saver.db
PORT=8080

